.root {
	width: 100%;
	float: left;

	h2 {
		text-align: center;
	}
}

.games {
	width: 100%;
	float: left;
}

.foo {
	margin: 0 auto;
	width: 32em;	
	padding: 10px;


    .game {
	    float: left;
	    width: 200px;
		background: #f1f1f1;
		border: solid gray 1px;
	    height: 200px;
	    margin: 10px;
    }

	a {
		background: #d1d11;

	    text-align: center;
	    color: black;
	    text-decoration: none;

	    h3 {
	    	margin-top: 87px;
	    }
	}
}