.root {
	width: 100%;
	float: left;
	background: red;

	h2 {
		text-align: center;
	}
}

.games {
	width: 100%;
	float: left;
	border: solid red 2px;
}

.game {
	background: green;
	float: left;
	margin: 20px;
	padding: 10px;
}